
.first{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(png/h_img.jpg);
    width: 116rem;
    margin-left: -120rem;
    height:180vh;
    float: left;
    padding:110px;
    margin-right: 5rem;
    max-height:130vh;
   color: aliceblue;
   background-position:top right;
   
}

.welcome{
    
     text-align: 40px;
     height:20rem;
    color: rgb(255, 255, 255);

}
.delani{
     text-justify: kashida;
     color: aliceblue;
     
}
.mouse{
    text-align: center;
    background-color:white;
    top: 50rem;
    padding-top: 50;
   }
      
#bounce{
        animation: bounce 2s infinite;
 }
 @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-55px);
    }
    60% {
        transform: translateY(-45px);
    }
}

.aboutus{
    text-align: center;

}
.services{
    text-align: center;
    background-image: url(png/s_image.jpg);
    color: aliceblue;
    height: 20rem;
    max-height: -10rem;
    width: 85rem;
    
}
.do{
      text-align: center;

}

.design{
    text-align:center;
    row-gap: 20px;
}
.development{
    text-align: center;

}
/* i'll come back to do the hover effect and transition effect */
.portfolio{
     text-align: center;
     
}
.form-control{
    text-align: center;
    background-image: url(png/c_image.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color:transparent;
    
}
.contactus{
    text-align: center;
}
.social{
    text-align:center;
}